*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

:root {
    --blue: #21D2FF;
    --blue2:#20DAE8;
    --green:#25E8BF;
    --green2:#36FFF2;
    --green3:#3DFFBB;
    --white: #fff;
}

body {
    background-color: var(--green2);
    height: 100vh;
    font-family: 'verdana';
    
}

header {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 15rem;
   flex-wrap: wrap;
   padding: 8rem;
   background-color: var(--green);
   min-height: 50px;
}

nav {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.nav-links {
    color: var(--white);
}