@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root {
    --blue: #4D91C9;
    --dark: #02040F;
    --green:#5AADB8;
    --blue2: #659ACF;
    --green2: #0B5C49;
    --white: #fff;
}
